.song-row {
  position: relative;
  
  .popout-menu {
    top: 17px;
    left: 3px;
  }
}

.song-menu {
  position: absolute;
  left: 0;
  line-height: 1.3em;
  cursor: pointer;
}

.shifted-entry {
  padding-left: 10px;
}
