.popout-menu {
  position: fixed;
  z-index: 15;
  background-color: lighten(@deep-blue, 10);
  color: black;
  outline: 1px solid #4A9FC8;

  ul {
    padding: 0;
    margin: 5px 0 5px 0;
  }

  li {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    &:hover {
      background-color: @deep-blue;
    }
  }
}
