@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

body.beta { // TODO: remove this namespacing
  .init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      flex: 0 0 auto;

      animation-name: spin;
      animation-duration: 1500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    & > div:not(.footer) {
      flex: 1 0 auto;
      display: flex;

      .nav {
        .panel-shadow();
        padding: 8px;
        width: 250px;
      }

      .panel {
        background-color: @grey1;
        flex: 1 0 auto;
        padding: 8px;
      }
    }

    & > .footer {
      height: 180px;
      background-color: @grey1;
      .panel-shadow();
      padding: 8px;
    }
  }
}