<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Offline Mode</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>offline_mode_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable On Poor Connection</string>
			<key>Key</key>
			<string>offline_mode_automatic_enable_buffer</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Save Location with Track History</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>location_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>No Minimum</string>
				<string>3%</string>
				<string>5%</string>
				<string>7%</string>
				<string>10%</string>
				<string>15%</string>
				<string>20%</string>
				<string>25%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Minimum Required Battery</string>
			<key>Key</key>
			<string>location_min_battery</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>5</integer>
				<integer>7</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>25</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Offline Storage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>offline_storage_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>On Wi-Fi</string>
				<string>Always</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Download Offline Music</string>
			<key>Key</key>
			<string>offline_storage_fetch_mode</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>100 MB</string>
				<string>250 MB</string>
				<string>500 MB</string>
				<string>1 GB</string>
				<string>2.5 GB</string>
				<string>5 GB</string>
				<string>10 GB</string>
				<string>25 GB</string>
				<string>50 GB</string>
				<string>100 GB</string>
				<string>No Limit</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Maximum Offline Storage</string>
			<key>Key</key>
			<string>max_offline_storage</string>
			<key>DefaultValue</key>
			<integer>5000</integer>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>2500</integer>
				<integer>5000</integer>
				<integer>10000</integer>
				<integer>25000</integer>
				<integer>50000</integer>
				<integer>100000</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Offline Storage Used</string>
			<key>DefaultValue</key>
			<string>5.17 MB</string>
			<key>Key</key>
			<string>offline_storage_used</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Always Offline Tracks Cached</string>
			<key>DefaultValue</key>
			<string>0 / 0</string>
			<key>Key</key>
			<string>always_offline_cached</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Tracks Temporarily Cached</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>tracks_temporarily_cached</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Informational Voice</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>text_speech_voice_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Aaron (American)</string>
				<string>Alex (American)</string>
				<string>Fred (American)</string>
				<string>Nicky (American)</string>
				<string>Samantha (American)</string>
				<string>Catherine (Australian)</string>
				<string>Gordon (Australian)</string>
				<string>Karen (Australian)</string>
				<string>Arthur (British)</string>
				<string>Daniel (British)</string>
				<string>Martha (British)</string>
				<string>Moira (Irish)</string>
				<string>Rishi (Indian)</string>
				<string>Kyoko (Japanese)</string>
				<string>Tessa (South African)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Voice</string>
			<key>Key</key>
			<string>text_speech_voice_identifier</string>
			<key>DefaultValue</key>
			<string>com.apple.ttsbundle.siri_female_en-GB_compact</string>
			<key>Values</key>
			<array>
				<string>com.apple.ttsbundle.siri_male_en-US_compact</string>
				<string>com.apple.speech.voice.Alex</string>
				<string>com.apple.speech.synthesis.voice.Fred</string>
				<string>com.apple.ttsbundle.siri_female_en-US_compact</string>
				<string>com.apple.ttsbundle.Samantha-compact</string>
				<string>com.apple.ttsbundle.siri_female_en-AU_compact</string>
				<string>com.apple.ttsbundle.siri_male_en-AU_compact</string>
				<string>com.apple.ttsbundle.Karen-compact</string>
				<string>com.apple.ttsbundle.siri_male_en-GB_compact</string>
				<string>com.apple.ttsbundle.Daniel-compact</string>
				<string>com.apple.ttsbundle.siri_female_en-GB_compact</string>
				<string>com.apple.ttsbundle.Moira-compact</string>
				<string>com.apple.ttsbundle.Rishi-compact</string>
				<string>com.apple.ttsbundle.Kyoko-compact</string>
				<string>com.apple.ttsbundle.Tessa-compact</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Error Reporting</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automatic Error Reporting</string>
			<key>Key</key>
			<string>automatic_error_reporting</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Critical Errors</string>
			<key>Key</key>
			<string>show_critical_error_notice</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Misc</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>My Library</string>
				<string>Playlists</string>
				<string>Review Queue</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Launch Screen</string>
			<key>Key</key>
			<string>launch_screen</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>5</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
