.playback-controls {
  margin-left: 15px;

  .played-song-name {
    height: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .control {
    font-size: 2.3em;
    margin-right: 20px;
  }

  .fa-random {
    margin-left: 25px;
  }

  .fa-play, .fa-pause {
    font-size: 2.5em;
  }

  .fa-random, .fa-sync-alt {
    font-size: 1.8em;
    &.enabled {
      color: @select-blue;
    }
  }

  .play-time-wrapper {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .time-slider {
    width: 350px;
  }

  .volume-slider {
    position: relative;
    bottom: 2px;
  }

  .volume-wrapper {
    display: flex;
    justify-content: space-between;
    width: 195px;
  }

  /*
  #music_player_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 10px;
    margin: 5px 0 0;
    width: 50%;
    max-width: 750px;
    min-width: 300px;
    cursor: pointer;
    border: 1px solid fade(@white, 25%);
    background-color: @navy;

    &:hover {
      cursor: pointer;
    }
  }
  ::-moz-progress-bar {
    background-color: fade(@white, 50%);
    border-radius: 0;
    padding: 0;
  }

  ::-webkit-progress-bar {
    background-color: @navy;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  ::-webkit-progress-value {
    background-color: fade(@white, 50%);
    border-radius: 0;
  }
  */
}
