.modal-close {
  position: absolute;
  right: 3px;
  top: 0;
  cursor: pointer;
  &:hover {
    color: #ff441c;
  }
}

.form-modal {
  text-align: center;

  div {
    margin-bottom: 7px;
  }

  input {
    margin-left: 10px;
    padding: 0 0 0 4px;
    height: 22px;
    width: 200px;
    line-height: 16px;
  }

  button {
    margin-top: 15px;
  }
}

.flex-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Even though the modal could visually seem on top, some things (like the column resizing) was
// still clickable from underneath the modal. Give it a high z-index to avoid this problem
.ReactModalPortal {
  position: relative;
  z-index: 100;
}