.full-screen {
  height: 100vh;
}

.border-layout {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 200px 1fr 200px;

  .border-layout-west {
    background-color: green;
    grid-row: 2;
    grid-column: 1;
  }
  .border-layout-east {
    background-color: darkred;
    grid-row: 2;
    grid-column: 3;
  }
  .border-layout-north {
    background-color: goldenrod;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .border-layout-south {
    background-color: darkmagenta;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .border-layout-center {
    background-color: cyan;
    grid-row: 2;
    grid-column: 2;
  }
}