@dark-blue: #005A8A;
@blue: #1D87BA;
@light-blue: #60B7ED;

@grey1: #333;
@grey2: #4F4F4F;
@grey3: #828282;
@grey4: #BDBDBD;
@grey5: #E0E0E0;
@grey6: #F2F2F2;

@text-white: rgba(255, 255, 255, .77);
@text-black: rgba(0, 0, 0, .87);

body.beta {
  background-color: @grey1;
  color: @text-white;
  .login {
    background-color: @dark-blue;
  }
}

