#song-properties {
  position: relative;
  width: 500px;

  .long-property {
    width: 390px;
  }

  .medium-property {
    width: 140px;
  }

  .short-property {
    width: 65px;
    margin-right: 75px;
  }

  .single-row-multi-label {
    margin-top: 20px;
  }

  .album-wrapper {
    display: flex;
    flex-direction: row;

    div:first-child {
      width: 250px;
    }
  }

  .album-art {
    height: 200px;
    flex: 1;
    cursor: pointer;
  }

  .property-note {
    text-align: left;

    textarea {
      resize: none;
      width: calc(100% - 4px);
    }
  }

  .loading-container {
    position: absolute;
  }
}

